* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.container .card {
    width: 230px;
    border-radius: 1rem;
    border: 1px solid #BACDD8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8px;
}

.container .card img {
    width: 100px;
    margin-bottom: 10px;
}

.number {
    color: #000;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.name {
    color: #fff;
    margin-bottom: .25rem;
    text-transform: capitalize;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.card-color {
    background-color: white;
    border-radius: 12px;
    padding: 8px;
}

ul {
    display: inline-flex;
    padding: 0;
    margin: 0;
}
  
ul li {
    list-style-type: none;
    padding: 10px;
    border-right: 1.5px solid #BACDD8;  
}
  
ul li:last-child {
    border: 0px;
}

.type {
    color: #fff;
    width: 50px;
    border-radius: 30px;
    text-align: center;
    font-size: 12px;
    margin-bottom: 2px;
}

.card-color p, span {
    margin: 0px;
    font-size: 12px;
}

.card-color span {
    color: #BACDD8;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    height: 50px;
}
  
td, th {
    font-size: 12px;
    border: none;
    text-align: left;
    padding: 8px;
}

td {
    height: 10px;
}

th {
    height: 10px; 
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}


.normal {
    background-color: #a6a877;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color: #dfbf69;
}

.flying {
    background-color: #a98ff0;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark {
    background-color: #725847;
}

.rock {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}
.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color: #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}